<div class="all_view">
  <h1>portfolio</h1>

  <div class="menu">
    自己PR
    <br>
    2008年大学中退後、12年間警備会社に従事する。
    <br>
    あまりに不便でアナログな環境のため、
    <br>
    個人的に自動化する仕組みの知識を求める。
    <br>
    その過程でプログラミングに興味を持ち、退職。
    <br>
    プログラミングスクールを卒業し、Railsを中心に学習中。
  </div>
  <br>

  <div class="menu">
    自分のスキル
    <br>

    <div class="content">
    フロントエンド
    HTML
    CSS
    JavaScript
    </div>
    <br>

    <div class="content">
    バックエンド
    Ruby

    MySQL

    Git Hub

    AWS
    </div>
    <br>
  </div>
  <br>

  <div class="menu">
    今後の目標（スキル）
    <br>
    docker

    Java
    
  </div>
  <br>

  <div class="menu">
    オリジナルアプリの掲載
    <br>

    <div class="content">
      <a href="https://security-matching.herokuapp.com/">security-matching</a>
    </div>
  </div>
</div>