// Place all the styles related to the portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1, .content, .menu {
  text-align:center;
  padding: 40px;
}

.menu {
  border: 1px solid rgb(233, 124, 124);
}

.all_view {
  background-color: rgb(114, 236, 90);
  padding: 30px;
}